/* | GENERAL | */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Open Sans", sans-serif;
}

a {
  text-decoration: none;
}

/* | MAIN | */
.background {
  height: 100vh;
  background-image: linear-gradient(
    0deg,
    rgba(209, 219, 220, 1) 0%,
    rgba(219, 219, 211, 1) 100%
  );
}

.top_background {
  height: 15vh;
  background-color: #009788;
}

.container {
  width: 82%;
  height: 95%;
  margin: -100px auto 0;
  background-color: #fff;
  box-shadow: 0 2px 3px rgba(128, 128, 128, 0.5);
  display: flex;
  justify-content: center;
}

/* | Sezione SX | */
.left_container {
  width: 30%;
  height: 100%;
}

/* ! Header Sx */
.left_container .header {
  width: 100%;
  height: 60px;
  background-color: #ededed;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.left_container .header .user_box {
  height: 100%;
  display: flex;
  align-items: center;
  padding: 10px 15px;
}

.left_container .header .user_box img {
  height: 100%;
  border-radius: 50%;
  margin-right: 15px;
  cursor: pointer;
}

.left_container .header .user_box p {
  font-weight: 600;
  cursor: pointer;
}

.left_container .header .user_icons {
  display: flex;
}

.left_container .header .user_icons i {
  margin-right: 35px;
  font-size: 1.1em;
  color: #919191;
  cursor: pointer;
}

/* ! Sezione aler notifiche */
.left_container .alert_mex {
  height: 85px;
  padding: 0 15px;
  background-color: #9ee1fe;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.alert_mex .alert_bell {
  margin-right: 15px;
}

.alert_mex .alert_bell i {
  color: #9ee1fe;
  font-size: 1.2em;
  background-color: #fff;
  padding: 12px 10px;
  border-radius: 50%;
}

.alert_mex .alert_text {
  color: #184354;
  font-weight: 400;
}

.alert_mex .alert_text a {
  font-size: 0.85em;
  font-weight: 300;
  color: #184354;
}

.alert_mex .alert_text a::after {
  content: "\f054";
  font-family: "Font Awesome 5 Free";
  font-weight: 600;
  font-size: 0.8em;
  margin-left: 5px;
  text-decoration: unset;
}

/* ! Barra di ricerca utenti */
.left_container .search_bar_container {
  width: 100%;
  height: 50px;
  background-color: #f6f6f6;
  padding: 10px 5px;
}

.search_bar_container .search_bar {
  width: 95%;
  background-color: #fff;
  border-radius: 30px;
  margin: 0 auto;
  padding: 5px 10px;
}

.search_bar i {
  color: #919191;
  margin-right: 30px;
  cursor: pointer;
}

.search_bar input {
  width: 70%;
  color: #919191;
  border: none;
  outline: 0;
}

.left_container .chat_users {
  height: calc(100% - 195px);
  overflow: hidden;
  overflow-y: auto;
  cursor: pointer;
}

.chat_users .user_box {
  height: 83px;
  padding: 10px 15px 0;
  display: flex;
}

.user_box .img_user_box {
  height: 100%;
}

.user_box .img_user_box img {
  height: 80%;
  border-radius: 50%;
}

.user_box .txt_user_box {
  width: 100%;
  padding: 5px 10px 10px;
  border-bottom: 1px solid rgba(128, 128, 128, 0.1);
}

.user_box .txt_user_box .username {
  display: flex;
  justify-content: space-between;
}

.user_box .txt_user_box .username .name {
  font-size: 1.1em;
  font-weight: 400;
}

.user_box .txt_user_box .username .time {
  font-size: 0.8em;
  font-weight: 300;
  color: #b1b1b1;
}

.user_box .txt_user_box .chat_preview {
  color: grey;
  font-size: 0.8em;
  margin-top: 5px;
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
  white-space: normal;
  overflow: hidden;
}

/* | Sezione DX | */
.right_container {
  width: 70%;
  height: 100%;
}

.right_container .header,
.right_container .footer_box {
  height: 60px;
  background-color: #ededed;
  border: 0.5px solid rgba(128, 128, 128, 0.2);
}

.right_container .chat_box {
  height: calc(100% - 120px);
  background-image: url(../img/mine.jpg);
}
